.fz12{font-size:12px;}
input{vertical-align:middle;}
.main{padding-bottom:60px; padding-top:36px;}
.main h1,
.main h2,
.main h3{padding-left:10px;}
.main h1{text-align:center;color: #212222; font-family: "microsoft yahei"; font-size: 36px; font-weight: normal; line-height: 2em; margin-bottom: 36px;}
.main h2{background-color:#eee; line-height:2!important;}
.main h3{font-size:20px; margin-bottom:10px;}
.lireset2{padding-left:10px;}
.foodForm{margin-bottom:40px;}
.foodForm .need{
	width:10px;
	color:#b20202;
}
.foodForm td{
	padding:5px 0;
	vertical-align:top;
	text-align:left;
}
.foodForm .inputxt,.registerform textarea{
	border:1px solid #a5aeb6;
	width:196px;
	padding:4px 2px;
}
.foodForm textarea{
	height:75px;
}
.foodForm label{
	margin:0 15px 0 4px;
}
.foodForm .tip{
	line-height:20px;
	color:#5f6a72;
}
.foodForm select{
	width:202px;
}
.foodForm select{
	width:124px;
}
.swfupload{
	vertical-align:top;
}
.passwordStrength{

}
.passwordStrength b{
	font-weight:normal;
}
.passwordStrength b,.passwordStrength span{
	display:inline-block; 
	vertical-align:middle;
	line-height:16px;
	line-height:18px\9;
	height:16px;
}
.passwordStrength span{
	width:45px; 
	text-align:center; 
	background-color:#d0d0d0; 
	border-right:1px solid #fff;
}
.passwordStrength .last{
	border-right:none;
}
.passwordStrength .bgStrength{
	color:#fff;
	background-color:#71b83d;
}
#demo1 .passwordStrength{
	margin-left:8px;
}
.tipmsg{
	padding:0 10px;
}
textarea{
	overflow:auto;
	resize:none;
}